@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --error-color : 214, 40, 40;
}

.light {
  --background-primary-color : 255, 252, 242;
  --primary-color : 235, 94, 40;
  --border-color : 37, 36, 34;
  --background-secondary-color : 64, 61, 57;
  --secondary-color : 204, 197, 185;
  
}

.dark {
  --background-primary-color : 255, 252, 242;
  --primary-color : 235, 200, 100;
  --border-color : 37, 36, 34;
  --background-secondary-color : 64, 61, 57;
   --secondary-color : 204, 197, 185;
}